.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.icloud
cnr-selective-combos.Rproj
python/.ipynb_checkpoints/cnr-mcf10a-pi3k-checkpoint.ipynb
python/.ipynb_checkpoints/cnr-mcf10a-pi3k-checkpoint.ipynb
python/.ipynb_checkpoints/cnr-mcf10a-pi3k-checkpoint.ipynb
python/.ipynb_checkpoints/cnr-mcf10a-pi3k-checkpoint.ipynb
R/02-perturbations/.DS_Store
python/.ipynb_checkpoints/cnr-mcf10a-pi3k-checkpoint.ipynb
